body {
    font-size: 16px;
}

h1 {
    color: #4da4ce !important;
    font-weight: bold;
}

h1, h2 {
    text-transform:uppercase;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h3 {
    color: #4da4ce !important;
}


/* Panels */
.panel {
    padding: 36px 0;
    border-bottom: 1px solid #dbdddf;
}

.panel-header {
    background-image: url("../img/brickwall.png");
}

.panel-white {
    background-color: #fff;
    background: linear-gradient(to right, #f7f7f7 0%,#ffffff 50%,#f7f7f7 100%); /* W3C */
    color: #333;
}
.panel-bottom {
    background-color: #22272d;
    color: #5e646c;
    padding: 36px 0;
}


/* Icons */
.icon-medium {
    font-size: 46px;
    color: #4da4ce;
    margin-top: 24px;
}

.icon-checkmark {
    color: #1bb580;
    margin-right: 12px;
    font-size: 12px;
}


/* Misc */
.fixed-label {
    width: 80px;
    display: inline-block;
}
